go 1.25

use (
	./packages/debian
	./packages/development-atlas-operator
	./packages/development-dex
	./packages/development-tekton-chains
	./packages/development-tekton-dashboard
	./packages/development-tekton-pipeline
	./packages/development-tekton-results
	./packages/development-tekton-triggers
	./packages/development-theia
	./packages/gitops-argo-cd
	./packages/gitops-argo-events
	./packages/gitops-argo-rollouts
	./packages/gitops-argo-workflows
	./packages/mlops-data-fusion-ballista
	./packages/mlops-kuberay
	./packages/mlops-ome
	./packages/mlops-volcano
	./packages/messaging-nats
	./packages/networking-calico
	./packages/networking-external-dns
	./packages/networking-gateway-api
	./packages/networking-linkerd
	./packages/observability-alloy
	./packages/observability-grafana
	./packages/observability-grafana-mcp
	./packages/observability-loki
	./packages/observability-mimir
	./packages/observability-prometheus
	./packages/observability-pyroscope
	./packages/observability-tempo
	./packages/security-bank-vaults
	./packages/security-cert-manager
	./packages/security-falco
	./packages/security-kyverno
	./packages/security-openfga
	./packages/security-reloader
	./packages/storage-cnpg
	./packages/storage-local-path-provisioner
	./packages/storage-rustfs
	./packages/storage-pvc-autoresizer
	./packages/storage-topolvm
	./packages/storage-valkey-operator
	./packages/storage-velero
	./packages/sumicare-versioning
)
